.header {
  position: relative;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  height: 3rem;
  background-color: var(--color10);
  border-bottom: 2px solid var(--color40);
  display: flex;
  column-gap: 1rem;

  &:after {
    content: '';
    position: absolute;
    left: 1em;
    bottom: -0.25rem;
    width: calc(100px + 8em);
    border-top: 0.25rem solid var(--color10);
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    filter: drop-shadow(0 2px var(--color40));
    transition: border-color 0.25s linear;
  }
}

.header h3 {
  margin: 0;
  align-self: center;
}
