.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 14rem);
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.btns {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
