.search__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.search__field {
  text-align: left;
  margin: 0.5rem 1rem 0.5rem auto;
  width: 8rem;
  border-radius: 50px;
  border: 2px solid black;
  position: relative;
  transition: width 0.3s linear;

  &:has(input[name='request']:focus) {
    width: 16rem;
    background-color: black;
  }
}

.search__field_static {
  text-align: left;
  width: 16rem;
  border-radius: 50px;
  border: 2px solid black;
  position: relative;

  &:has(input[name='request']:focus) {
    background-color: black;
  }
}

.search__submit {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  box-sizing: border-box;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url(/search.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
  &:focus {
    border: none;
  }
  &:hover {
    opacity: 0.65;
  }
}

.search__input {
  background-color: transparent;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  width: 4rem;
  border-radius: 50px;
  border: none;
  transition: width 0.3s linear;
  &::placeholder {
    color: gray;
  }
  &:focus {
    width: 12rem;
    outline: none;
  }
}

.search__input_static {
  background-color: transparent;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  width: 12rem;
  border-radius: 50px;
  border: none;
  transition: width 0.3s linear;
  &::placeholder {
    color: #7378c5;
  }
  &:focus {
    outline: none;
  }
}

.search__clear {
  position: absolute;
  top: 0.7125rem;
  right: 2rem;
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.75rem;
  background-image: url(/cross.svg);
  background-color: transparent;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
  &:focus {
    border: none;
  }
  &:hover {
    opacity: 0.65;
  }
}

.search__clear_static {
  position: absolute;
  top: 0.7125rem;
  right: 0.5rem;
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.75rem;
  background-image: url(/cross.svg);
  background-color: transparent;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
  &:focus {
    border: none;
  }
  &:hover {
    opacity: 0.65;
  }
}

.search__button {
  width: 16rem;
  border-radius: 50px;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  cursor: pointer;
  &:hover {
    background-color: black;
    border-color: black;
  }
  &:focus {
    border-color: black;
    outline: 0 !important;
  }
}
