.search {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.search__field {
  text-align: left;
  width: 8rem;
  border-radius: 50px;
  border: 2px solid var(--color50);
  background-color: var(--color20);
  position: relative;
  transition:
    background-color 0.25s linear,
    width 0.25s linear;

  &:has(input:focus) {
    width: 16rem;
    background-color: var(--color30);
  }
}

.search__input {
  background-color: transparent;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: var(--color100);
  width: 4rem;
  border-radius: 50px;
  border: none;
  transition: width 0.3s linear;

  &::placeholder {
    color: var(--color50);
  }
  &:focus {
    width: 12rem;
  }
}

.search__submit {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  box-sizing: border-box;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url(/icons/search.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
  filter: invert(var(--color-scheme));

  &:focus {
    border: none;
  }
  &:hover {
    opacity: 0.65;
  }
}

.search__clear {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  box-sizing: border-box;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url(/icons/cross.svg);
  background-color: transparent;
  background-position: center;
  background-size: 0.75rem 0.75rem;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
  filter: invert(var(--color-scheme));

  &:hover {
    opacity: 0.65;
  }
}
