.page__results {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
}

.page__btns {
  margin: 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
