:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;

  --color-scheme: 0;
  --color00: #040608;
  --color10: #0a1a2a;
  --color20: #1a2a3a;
  --color30: #2a3a4a;
  --color40: #3e4e5e;
  --color50: #586878;
  --color60: #728292;
  --color70: #8d9dad;
  --color80: #a9b9c9;
  --color90: #b4c4e4;
  --color100: #fff;
  --color-accent50: #1c5d80;
  --color-accent60: #2c7da0;
  --color-accent80: #3596c0;

  --link-color: #4c9ce2;
  --link-color-hover: #386989;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-scheme: 1;
    --color00: #fff;
    --color10: #f5f5f5;
    --color20: #e0e0e0;
    --color30: #b8b8b8;
    --color40: #999;
    --color50: #7a7a7a;
    --color60: #5c5c5c;
    --color70: #3d3d3d;
    --color80: #292929;
    --color90: #141414;
    --color100: #000;

    --link-color: #386989;
    --link-color-hover: #4c9ce2;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  color: var(--color100);
  background-color: var(--color00);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
}

th {
  background-color: var(--color20);
  padding: 0 0.5rem;
}

td {
  padding: 0 0.5rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition-duration: 250ms;
}
a:hover {
  color: var(--link-color-hover);
}

button:focus,
input:focus:focus {
  outline: none;
}

button {
  border-radius: 0.375rem;
  border: 2px solid var(--color40);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--color20);
  cursor: pointer;
  transition:
    background-color 0.25s linear,
    border-color 0.25s linear;

  &:hover {
    background-color: var(--color30);
    border-color: var(--color50);
  }
}

.align_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
