.backdop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 3rem;
  right: 0;
  background-image: url('/images/backdop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: invert(var(--color-scheme));
}
