.messages {
  position: fixed;
  z-index: 1000;
  top: 3.5rem;
  right: 0;
  bottom: 3.5rem;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  row-gap: 4px;
  overflow: hidden;
  pointer-events: none;
}

.messages__item {
  position: relative;
  min-width: 10rem;
  max-width: 400px;
  padding: 1rem;
  background-color: var(--color20);
  box-shadow: 1px 1px 4px 0 #0008;
  line-height: 1.2;
  display: flex;
  column-gap: 0.5rem;
  animation: fadein 0.5s forwards;
}
.messages__item.hidden {
  animation: fadeout 0.5s forwards;
}

.messages__item_icon {
  display: flex;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  background-color: green;
  font-size: 12px;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
